<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Videogames APP</h2>
      <p>
        Single Page Application (SPA).
        Consume datos de RAWG Video Games Database API.
        Posee con una base de datos creada en PostgreSQL.
        Backend desarrollado con NodeJS utilizando Express.
        Frontend realizado con ReactJS & Redux, ademas CSS puro.
        Ordenamiento por nombre y rating, filtro por genero y origen (API o DB) y busqueda por nombre.
        Detalle y formulario de creacion de un videojuego.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img
        src="../../../assets/videogame3.png"
        alt="Imagen de proyecto"
        class="img-fluid img-proyecto"
      />
    </div>
  </div>
</div>
