<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/fotoooo.jpg"
      alt="Foto de perfil"
      class="img-fluid"
      id="fotoDePerfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nihil
        provident assumenda, pariatur culpa, perferendis rem iste non nesciunt
        cupiditate laborum deserunt, amet officia. Tempora quia natus nesciunt
        deserunt accusamus.
      </p>
    </span>
  </div>
</div>
